.jumbotron {
    background-color: #efeeea;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding-top: 60px;
    padding-bottom: 30px;
}

.jumbotron p {
    text-align: center;
    font-size: 30px;
    color: #6d6d6d;
    padding-top: 10px;
}

.jumbotron h1 {
    text-align: center;
    font-size: 8em;
    color: black;
    text-shadow: 3px 3px #848484;
    padding-top: 10px;
}

#front-picture {
    width: 200px;
}

.row {
    padding-left: 20px;
    padding-right: 20px;
}

.row p {
    font-size: 20px;
}

.contact-link {
    padding-top: 10px;
    padding-bottom: 10px;
}

.animated {
  animation-duration: 2.5s;

@keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
}    
    
@media (max-width: 768px) {
    .jumbotron {
        padding-top: 50px;
        padding-bottom: 20px;
    }
    
    .jumbotron p {
        font-size: 20px;
    }
    
    .jumbotron h1 {
        font-size: 4em;
        text-shadow: 2px 2px #000000;
    }
    
    #front-picture {
    width: 150px;
}
}

