.book {
    width: 100%;
    padding: 10px;
    padding-bottom: 20px;
}

#value_proposition_design {
    width: 110%;
    padding: 10px;
    padding-bottom: 20px;
}

h2 {
    padding-bottom: 10px;
    text-align: left;
}

#sublist {
    font-size: 18px;
}

#list {
    font-size: 20px;
}

@media (max-width: 768px) {
    .book {
        width: 60%;
    }
    
    #value_proposition_design {
    width: 60%;
    }
}