html,body {
    height: 100%;
}

body { 
    padding-top: 50px; 
}

#title-block {
    padding-top: 30px;
    padding-bottom: 10px;
}

#title-block p{
    font-size: 18px;
}

#title-block-with-sidenav {
    padding-bottom: 10px;
}

#title-block-with-sidenav p{
    font-size: 18px;
}

.push-down {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -75px;
}

#push, #footer {
    height: 60px;
}

.row  li{
    font-size: 18px;
    text-align: left;
}

.row p{
    font-size: 20px;
}

#main-content .row {
    text-align: center;
}

.col-md-4 p {
    padding-bottom: 40px;
}

.content-picture {
    width: 80%;
}

.navbar {
    font: 500px;
}

@media (max-width: 768px) {
    .content-picture {
        width: 200px;
    }
    
    #title-block {
        padding-top: 10px;
    }
}