html,body {
    height: 100%;
}

#top-block {
    padding-top: 60px;
}

.push-down {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -75px;
}

#push, #footer {
    height: 60px;
}

.row  li{
    font-size: 18px;
}