html,body {
    height: 100%;
}

#title-block {
    padding-top: 60px;
    padding-bottom: 20px;
}

#title-block p{
    font-size: 20px;
}

.push-down {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -75px;
}

#push, #footer {
    height: 60px;
}

.row  li{
    font-size: 18px;
}

.row p{
    font-size: 20px;
}

#main-content .row {
    text-align: center;
}

.content-picture {
    width: 300px;
}

.thumbnail {
    margin-top: 50px;
}

@media (max-width: 768px) {
    .content-picture {
        width: 200px;
    }
}